<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia Rápido – Sala de Reunião - ACCERTH</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imagens/favicon.ico') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='imagens/logo.png') }}" alt="Logo Accerth" class="logo">
        <h1>Guia Rápido – Sala de Reunião</h1>
    </header>
    <main>
        <section class="welcome">
            <h2>👋 Bem-vindo à Sala de Reunião da Accerth!</h2>
            <p>Este é um guia rápido para permitir a utilização dos recursos disponíveis nesta sala.</p>
            <p>A seguir, o passo-a-passo para garantir o sucesso da sua reunião! 🚀</p>
        </section>

        <section class="reminder">
            <h3>📅 Lembrete Importante</h3>
            <p>Antes de iniciar qualquer reunião, não esqueça de:</p>
            <ul>
                <li>Enviar o link da reunião para o e-mail: <strong>reunioes@accerth.com</strong></li>
                <li>Confirmar se sua reunião foi devidamente agendada (dia e hora) no aplicativo Agendamento de reunião Accerth. </li>
            </ul>
            <p><strong>🕒 Assim</strong> garantimos o uso organizado e evitamos conflitos de horário entre equipes.</p>
        </section>

        <section class="function">
            <div class="function-content">
                <h3>1. Ligue a TV</h3>
                <p>Utilize o controle remoto (Samsung).</p>
                <p>Caso não apareça a imagem abaixo, contate a equipe de TI (Pedro Ivo: (21) 96617-6572).</p>
            </div>
            <img src="{{ url_for('static', filename='imagens/55.jpg') }}" alt="Ligar a TV">
        </section>

        <section class="function">
            <div class="function-content">
                <h3>2. Selecionar a entrada "PC"</h3>
                <p>Deslize para a esquerda (utilizando o botão circular no controle remoto Samsung) para abrir o menu lateral.</p>
                <p>No menu lateral, Selecione "Dispositivos Conectados" e em seguida selecione "PC".</p>
                <p><strong>💡 Dica:</strong> se a imagem não aparecer, verifique se o notebook está espelhando a tela.</p>
            </div>
            <img src="{{ url_for('static', filename='imagens/33.jpg') }}" alt="Selecionar HDMI">
        </section>

        <section class="function">
            <div class="function-content">
                <h3>3. Ligue o notebook da sala de reunião</h3>
                <p>Posicione e ligue teclado e mouse sem fio junto ao condutor da reunião. Levante a tela do notebook, cuja imagem será espelhada na TV (Caso não apareça contate o setor de TI). Com teclado e mouse já posicionados na mesa, faça o login para acessá-lo, utilizando a senha "reuniao@2025". </p>
                <p><strong>🧠 Evite</strong> mover o notebook após conectar, pra não soltar o cabo.</p>
            </div>
            <img src="{{ url_for('static', filename='imagens/22.jpg') }}" alt="Ligar Notebook">
        </section>

        <section class="function">
            <div class="function-content">
                <h3>4. Ligar a câmera</h3>
                <p>Pressione e segure o botão Power utilizando o controle Intelbras por cerca de 5 segundos até o LED acender.</p>
                <p>A câmera está pronta quando a luz azul permanecer acesa.</p>
            </div>
            <img src="{{ url_for('static', filename='imagens/11.jpg') }}" alt="Ligar Câmera">
        </section>

        <section class="function">
            <div class="function-content">
                <h3>5. Ligar os microfones</h3>
                <p>Distribua os microfones pela mesa (um em cada parte superior).</p>
                <p>Para ligar, pressione e segure o botão Power por 5 segundos em cada um, até o LED ficar azul.</p>
                <p><strong>🎙️ Assim</strong> todos na sala serão ouvidos com clareza durante a reunião.</p>
            </div>
            <img src="{{ url_for('static', filename='imagens/66.jpg') }}" alt="Ligar Microfones">
        </section>

        <section class="function">
            <div class="function-content">
                <h3>6. Inicie sua reunião</h3>
                <p>Com o link da reunião já enviado para o e-mail reunioes@accerth.com, clique no símbolo Outlook no DECK (dispositivo posicionado no centro da mesa, já ligado) e acesse a reunião pelo link devido.</p>
                <p>Já na reunião, verifique se a câmera e o microfone Intelbras estão selecionados como dispositivos principais.</p>
                <p><strong>💬 Tudo pronto?</strong> Então é só começar sua reunião!</p>
            </div>
            <img src="{{ url_for('static', filename='imagens/77.jpg') }}" alt="Iniciar Reunião">
        </section>

        <section class="conclusion">
            <h2>⚠️ Atenção Final</h2>
            <p>Ao término da reunião, favor colocar todos os equipamentos nos seus devidos lugares, desligar os dispositivos e deixar o ambiente organizado para o próximo uso.</p>
        </section>
    </main>
    <footer>
        <p>© 2025 TI Accerth</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>